<!DOCTYPE html>
<!--
Template Name: Chillaid
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->

<head>
  <title>Royalty Clock</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link href="stylesheets/css/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>

<body id="top">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <!-- ################################################################################################ -->
        <h1 class="logoname">Royalty clock</h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="bgded overlay"
    style="background-image:url('/stylesheets/css/images/index.jpg');background-position:0% 60%;">
    <div id="pageintro">
      <!-- ################################################################################################ -->
      <article>
        <h5 class="heading">Our dedication</h5>
        <p>Royalty Clock company is much more than just a casual watch reseller. Our goal is to tackle the fake and black market around watch world. We are all passionate and we want to maintain this passion alive, to extend this passion to everyone.</p>
      </article><br><br><br>
      <article>
        <h5 class="heading">History of Royalty Clock</h5>
        <p>Royalty clock company was founded just after the second word war in 1946 in Monaco. At the begining Royalty Clock company was just a family company which were taking care of luxury watches. 
          Now the company is quite bigger and have three shops(the initial one in Monaco, Malta and Milan). But our service is always the same and our dedication is to satisfied the client.
          RC.</p>
      </article><br><br><br>
      <article>
        <h5 class="heading">Royalty Clock - Blockchain</h5>
        <p>Our biggest goal is to tacke the black market and fake market of watches. So to do this we decided to adopt the new technology which is the blockchain. With this new technological tool we will be able to certify all watches we will meet and to give a certificate to the owner. So, the fraud will become impossible !</p>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->

  <div class="bgded overlay row4">
    <footer id="footer" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h1 class="logoname"><a href="/">Royalty Clock</a></h1>
        <p>Subscribe to this blog and receive notifications of new posts by email. [<a href="#">&hellip;</a>]
        </p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">List of famous clients :</h6>
        <ul class="nospace linklist">
          <li><a>-Lewis Hamilton</a></li>
          <li><a>-Roger Federer</a></li>
          <li><a>-Charles Leclerc</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Partners</h6>
        <ul class="nospace clear latestimg">
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/audemars.jpeg" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/festina.jpg" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/hublot.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/miles.png" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/patek.jpg" alt=""></a></li>
          <li><a class="imgover" href="#"><img src="../stylesheets/css/images/logos/rolex.png" alt=""></a></li>
        </ul>
      </div>
     <div class="one_quarter">
        <h6 class="heading">List of our shop :</h6>
        <ul class="nospace linklist">
          <li><a>-Monaco </a></li>
          <li><a>-Malta </a></li>
          <li><a>-Milan </a></li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="/javascripts/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script src="stylesheets/css/layout/scripts/jquery.min.js"></script>
  <script src="stylesheets/css/layout/scripts/jquery.backtotop.js"></script>
  <script src="stylesheets/css/layout/scripts/jquery.mobilemenu.js"></script>
  <!-- Homepage specific -->
  <script src="stylesheets/css/layout/scripts/jquery.easypiechart.min.js"></script>
  <!-- / Homepage specific -->
</body>

</html>